name: Deploy Docker Image

on:
  push:
    tags:
      - '*'

jobs:
  build_and_push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_TOKEN }}

      - name: Setup node
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: NPM Setup
        run: npm i

      - name: Build project
        run: npx npm run build

      - name: Build & Push Image
        uses: docker/build-push-action@v4
        with:
          context: ${{ github.workspace }}
          push: true
          platforms: linux/arm64,linux/amd64
          tags: ghcr.io/tutorialwork/my-channel/server:${{ github.ref_name }}
